html {
  height: 100%;
}

body {
  background: linear-gradient(135deg, #189ccd, #0a72da);
  width: 100%;
  height: 100%; 
  position: absolute;
  padding: 0px;
  margin: 0px;
}

.bg-square {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden; 
}

.bg-square::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 150%;
  height: 150%;
  top: -25%;
  left: -25%;
  filter: opacity(10%);
  background: repeating-conic-gradient(#47bde8 0 25%, #0000 0 50%)
      50% / 250px 250px;
  animation: pan-bg 32s linear infinite;
  transform: rotate(15deg); 
}

.logo {
  width: 40%;
  display: block;
  margin: 0 auto;
  image-rendering: pixelated;
  animation: scale-logo 5s ease-in-out infinite;
}

.rotate {
  animation: rotate-logo 8s ease-in-out infinite
}

button {
  width: 350px;
  display: block;
  height: 75px;
  border-radius: 25px;
  border-color: #0000;
  background-color: white;
  appearance: none;
  margin: 10px auto;
}

input {
  width: 350px;
  display: block;
  height: 75px;
  border-radius: 25px;
  background-color: white;
  border-color: #0000;
  appearance: none;
  margin: 10px auto;
}

.homeInputs {
  display: block;
  max-width: 500px;
  margin: 40px auto;
}

@keyframes pan-bg {
  from {
    background-position: 50% 50%;
  }
  to {
    background-position: calc(50% + 250px) calc(50% + 250px);
  }
}

@keyframes rotate-logo {
  0%, 100% { transform: rotate(-5deg); }
  50%   { transform: rotate(5deg); }
}

@keyframes scale-logo {
  0%, 100% { transform: scale(0.975); }
  50%      { transform: scale(1.025); }
}